<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Editar Palabra</title>
</head>
<body>
    <h1>Editar Palabra</h1>
    <form method="POST" action="{{ url_for('editar_palabra', id_palabra=palabra[0]) }}">
        <label for="palabra">Palabra:</label>
        <input type="text" id="palabra" name="palabra" value="{{ palabra[1] }}"><br><br>
        <label for="significado">Significado:</label>
        <input type="text" id="significado" name="significado" value="{{ palabra[2] }}"><br><br>
        <input type="submit" value="Actualizar">
    </form>
    <a href="/">Inicio</a>
</body>
</html>
