<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Diccionario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 mt-5">
                <h1 class="text-center">Diccionario</h1>
                <hr style="height: 1px; color: #333; background-color: #333;">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 mx-auto mt-5">
                <a href="{{ url_for('agregar_palabra') }}" class="btn btn-primary btn-block">Agregar Palabra</a>
                <a href="{{ url_for('listar_palabras') }}" class="btn btn-primary btn-block">Listar Palabras</a>
            </div>
        </div>
    </div>
</body>
</html>
