<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Listado de palabras</title>
</head>
<body>
    <h1>Listado de palabras</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Palabra</th>
                <th>Significado</th>
            </tr>
        </thead>
        <tbody>
            {% for palabra in palabras %}
                <tr>
                    <td>{{ palabra[0] }}</td>
                    <td>{{ palabra[1] }}</td>
                    <td>{{ palabra[2] }}</td>
                    <td><a href="{{ url_for('editar_palabra', id_palabra=palabra[0]) }}">Editar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="/">Inicio</a>
</body>
</html>
