<!doctype html>
<html>
  <head>
    <title>Resultados</title>
  </head>
  <body>
    <h1>Registros de Panamá (key="PAN")</h1>
    <table>
      <thead>
        <tr>
          <th>Country or Area</th>
          <th>Item</th>
          <th>Year</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        {% for record in pan_records %}
        <tr>
          {% for field in record %}
          <td>{{ field.text }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
